// flex布局
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-x-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-y-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}